node_modules/
/node_modules/
.next/
out/
build/
dist/
/dist/
.uvt/
/.uvt/
tests/generated/
/tests/generated/
!uvt-packages/
!uvt-packages/**/dist/
!uvt-packages/**/dist/**
uvt-packages/**/node_modules/
